## General

*.pyc
*.ipynb_checkpoints
__pycache__

*.npy
*.pkl

*.swp
*.swo

.envrc

## Project

*.pth
*live.ipynb
/.idea
/output
/output/**

/outputfin
/outputfin/**

/outputfin2
/outputfin2/**

/outputpearl
/outputpearl/**

/outputlstm
/outputlstm/**

/outputmetacure
/outputmetacure/**

plot_ant.py
plot_cheetah.py
plot_utils.py
